
.theme-iconnav {

    $iconsize: 38px;

    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: $iconsize;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 3;

	li {

		position: relative;
		display: block;
		width: $iconsize;
		height: $iconsize;

		a,
		.link-replace {
			color: #fff;
			display: block;
			height: $iconsize;

			.static-icon {
				display: block;
				position: relative;
				z-index: 2;
				margin: 0;
				padding: 0;
                font-size:1.11rem;
				width: $iconsize;
				height: $iconsize;
				text-align: center;
				line-height: $iconsize;
				background-color: $accent1;
				border-bottom: solid 1px rgba(255,255,255,.2);
				@include mb2_transition1(all, .15s);
			}

			.text {
				display: inline-block;
				height: $iconsize;
				line-height: $iconsize;
				position: absolute;
				right: -500px;
				top: 0;
				background-color: rgba($accent1,.9);
				white-space: nowrap;
				padding: 0 12px;
			}

			&:hover,
			&:focus {
				.static-icon {
					background-color: darken($accent1, 5%);
					border-bottom-color: transparent;
				}
			}

		}

		&:last-child {
			a,
			.link-replace {
				.static-icon {
					border-bottom: 0;
				}
			}
		}
	}

	.dir-rtl & {
		right: auto;
		left: 0;


		.text {
			right: auto;
			left: -500px;
		}


	}


}



@media only screen and (max-width:768px){

	.theme-iconnav {
		display: none;
	}

}
